<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 연습 홈페이지</title>
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
    <h1>소박하지만 그룹입니다</h1>
    <a href="members/login.html">로그인</a><br>
    <a href="members/createMemberForm.html">회원가입</a>
    <hr>
    <table width="100%" border="1">
        <tr>
            <th>이름</th>
            <th>백준 아이디</th>
            <th>Solved 티어</th>
            <th>레이팅</th>
            <th>Div.1 우승 횟수</th>
            <th>Div.2 우승 횟수</th>
        </tr>
    </table>
</body>
</html>